{
    "customSyntax": "postcss-scss",
    "plugins": [
        "@carlosjeurissen/stylelint-csstree-validator",
        "@stylistic/stylelint-plugin"
    ],
    "rules": {
        "csstree/validator": {
          "syntaxExtensions": [
            "sass"
          ]
        },
        "at-rule-empty-line-before": [ "always",
          {"except": [ "blockless-after-blockless"], ignore: ["after-comment", "inside-block"]}
        ],
        "@stylistic/at-rule-name-case": "lower",
        "@stylistic/at-rule-name-space-after": "always-single-line",
        "at-rule-no-unknown": null, # Enabled for non-scss in grunt.
        "@stylistic/at-rule-semicolon-newline-after": "always",
        "@stylistic/at-rule-semicolon-space-before": "never",
        "@stylistic/block-closing-brace-newline-after": "always",
        "@stylistic/block-closing-brace-newline-before": "always",
        "@stylistic/block-closing-brace-space-before": "always-single-line",
        "block-no-empty": true,
        "@stylistic/block-opening-brace-newline-after": "always",
        "@stylistic/block-opening-brace-space-after": "always-single-line",
        "@stylistic/block-opening-brace-space-before": "always",
        "@stylistic/color-hex-case": ["lower", { "severity": "warning" }],
        "color-hex-length": ["short", { "severity": "warning" }],
        "color-no-invalid-hex": true,
        "@stylistic/declaration-bang-space-after": "never",
        "@stylistic/declaration-bang-space-before": "always",
        "declaration-block-no-duplicate-properties": [ true, {
            ignore: [
              "consecutive-duplicates-with-different-values"
            ]
          }
        ],
        "declaration-block-no-shorthand-property-overrides": true,
        "@stylistic/declaration-block-semicolon-newline-after": "always-multi-line",
        "@stylistic/declaration-block-semicolon-space-after": "always-single-line",
        "@stylistic/declaration-block-semicolon-space-before": "never",
        "declaration-block-single-line-max-declarations": 1,
        "@stylistic/declaration-block-trailing-semicolon": "always",
        "@stylistic/declaration-colon-newline-after": "always-multi-line",
        "@stylistic/declaration-colon-space-after": "always-single-line",
        "@stylistic/declaration-colon-space-before": "never",
        "declaration-no-important": true,
        "font-family-no-duplicate-names": true,
        "function-calc-no-unspaced-operator": true,
        "@stylistic/function-comma-newline-after": "always-multi-line",
        "@stylistic/function-comma-space-after": "always-single-line",
        "@stylistic/function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "@stylistic/function-max-empty-lines": 0,
        "function-name-case": "lower",
        "@stylistic/function-parentheses-newline-inside": "always-multi-line",
        "@stylistic/function-parentheses-space-inside": "never-single-line",
        "function-url-scheme-disallowed-list": ["data"],
        "@stylistic/function-whitespace-after": "always",
        "keyframe-declaration-no-important": true,
        "length-zero-no-unit": [true, { "severity": "warning" }],
        "@stylistic/max-empty-lines": 2,
        "@stylistic/media-feature-colon-space-after": "always",
        "@stylistic/media-feature-colon-space-before": "never",
        "@stylistic/media-feature-parentheses-space-inside": "never",
        "@stylistic/media-feature-range-operator-space-after": "always",
        "@stylistic/media-feature-range-operator-space-before": "always",
        "@stylistic/media-query-list-comma-newline-after": "always-multi-line",
        "@stylistic/media-query-list-comma-space-after": "always-single-line",
        "@stylistic/media-query-list-comma-space-before": "never",
        "no-empty-source": true,
        "@stylistic/no-eol-whitespace": true,
        "@stylistic/no-extra-semicolons": [true, { "severity": "warning" }],
        "no-invalid-double-slash-comments": true,
        "no-unknown-animations": true,
        "@stylistic/property-case": "lower",
        "property-no-unknown": true,
        "@stylistic/selector-attribute-brackets-space-inside": "never",
        "@stylistic/selector-attribute-operator-space-after": "never",
        "@stylistic/selector-attribute-operator-space-before": "never",
        "@stylistic/selector-combinator-space-after": "always",
        "@stylistic/selector-combinator-space-before": "always",
        "@stylistic/selector-list-comma-newline-after": "always",
        "@stylistic/selector-list-comma-space-before": "never",
        "@stylistic/selector-max-empty-lines": 0,
        "@stylistic/selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "@stylistic/selector-pseudo-class-parentheses-space-inside": "never",
        "@stylistic/selector-pseudo-element-case": "lower",
        "selector-pseudo-element-no-unknown": true,
        "selector-type-case": "lower",
        "selector-type-no-unknown": true,
        "string-no-newline": true,
        "time-min-milliseconds": 100,
        "unit-disallowed-list": ["pt"],
        "@stylistic/unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": ["lower", {"ignoreKeywords": ["/(@|$)/"]}],
        "@stylistic/value-list-comma-newline-after": "always-multi-line",
        "@stylistic/value-list-comma-space-after": "always-single-line",
        "@stylistic/value-list-comma-space-before": "never",
  },
  "overrides": [
    {
      "files": ["**/yui/**/*.css"],
      "rules": {
      }
    }
  ]
}
