{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform_wrapper

    TODO describe template loginform_wrapper

    Example context (json):
    {
    }
}}
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform_continue

    Moodle template for the login page.

    Context variables required for this template:
    * logourl - Flag, logo url,
    * maintenance - Maintenance message,
    * error - Any errors in the form?,
    * info - Info notification to display,
    * languagemenu - Language menu HTML,
    * actionurl - The form action URL,
    * userinfo - Information about the user
      * username - The username of the user,
      * fullnamme - The full name of the user,
      * email - The email of the user.

    Example context (json):
    {
        "logourl": false,
        "maintenance": "For full access to this site, you need to login in as an admin.",
        "error": "",
        "info": "",
        "languagemenu": "Choose language",
        "actionurl": "http://localhost/stable_master/login/index.php",
        "userinfo": {
            "username": "johndoe",
            "fullname": "John Doe",
            "email": "johndoe@example.com"
        }
    }
}}

<div class="loginform">
    {{#logourl}}
        <div id="loginlogo" class="login-logo">
            <img id="logoimage" src="{{logourl}}" class="img-fluid" alt="{{sitename}}"/>
            <h1 class="login-heading visually-hidden">{{#str}} loginto, core, {{sitename}} {{/str}}</h1>
        </div>
    {{/logourl}}
    {{^logourl}}
        <h1 class="login-heading mb-4">{{#str}} loginto, core, {{sitename}} {{/str}}</h1>
    {{/logourl}}
    {{#maintenance}}
        <div class="alert alert-danger login-maintenance">
            {{{maintenance}}}
        </div>
    {{/maintenance}}
    {{#error}}
        <div class="alert alert-danger" id="loginerrormessage" role="alert">{{error}}</div>
    {{/error}}
    {{#info}}
        <div class="alert alert-info" id="logininfomessage" role="status">{{info}}</div>
    {{/info}}

    {{! The scope form is rendered here }}
    <form method="POST" action="{{actionurl}}">
        <p>{{#str}} oauth2:continueasuserinfo, core, {{userinfo.fullname}} {{/str}}</p>
        <input type="hidden" name="sesskey" value="{{sesskey}}"/>
        <input type="hidden" name="currentuser" value="1"/>
        <button type="submit" name="approve" value="1" class="btn btn-primary">{{#str}} continue {{/str}}</button>
    </form>

    <div class="login-divider"></div>
    <div class="d-flex">
        {{#languagemenu}}
            <div class="login-languagemenu">
                {{>core/action_menu}}
            </div>
            <div class="divider border-start align-self-center mx-3"></div>
        {{/languagemenu}}
        <button type="button" class="btn btn-secondary" {{!
        }} data-modal="alert"{{!
        }} data-modal-title-str='["cookiesenabled", "core"]' {{!
        }} data-modal-content-str='["cookiesenabled_help_html", "core"]'{{!
        }}>{{#str}}cookiesnotice{{/str}}</button>
    </div>
</div>

{{#js}}
    require(['core/pending'], function(Pending) {
        const errorMessageDiv = document.getElementById('loginerrormessage');
        const infoMessageDiv = document.getElementById('logininfomessage');
        const errorMessage = errorMessageDiv?.textContent.trim();
        const infoMessage = infoMessageDiv?.textContent.trim();
        if (errorMessage || infoMessage) {
            const pendingJS = new Pending('login-move-focus');
            setTimeout(function() {
                // Append a non-breaking space to the error/status message so screen readers will announce them after page load.
                if (errorMessage) {
                    errorMessageDiv.innerHTML += "&nbsp;";
                }
                if (infoMessage) {
                    infoMessageDiv.innerHTML += "&nbsp;";
                }
                pendingJS.resolve();
            }, 500);
        }
    });
{{/js}}
